@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte01: 'Passion One', cursive;

    --fonte02: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(0, 0, 0);
    height: 150px;
}

header > h1{
    color: white;
    text-align: center;
    padding-top: 36px;
    font-size: 4.3em;
    font-variant: small-caps;
    font-family: var(--fonte01);
}

header > p, a{
    color: white;
    text-align: center;
    text-decoration: none;
}

p > span{
    color: rgba(255, 255, 255, 0.365);
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.parte1{
    font-weight: bolder;
    font-size: 25px;
    line-height: 2em;
    margin-left: 20px;
    margin-top: 40px;
    font-family: var(--fonte02);
}

.image-pamela{
    background-image: url(Pasta/imagens/WhatsApp\ Image\ 2023-03-18\ at\ 10.35.22.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

div{
    background-color: rgba(0, 0, 0, 0.685);
    width: 300px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    line-height: 2em;
    margin-left: 20px;
    margin-top: 40px;
    font-family: var(--fonte02);
    border: 3px solid black;

}